div {
    margin-bottom: 20px;
}
form {
    font:caption;
}
input[type=submit] {
color: white;
background-color: chartreuse;
font:bolder;
}
input {
    border-radius: 12px;
    border: 2px solid black
}
label, input {
    width:100%
}
