h1 {
    text-align: center;
}
body {font-family:Arial, Helvetica, sans-serif;}
h2 {
    background-color: beige;
}
td, th {
    padding: 10px;
    border-collapse: collapse;
    border:1px solid brown
}
textarea, input, select{
    width:100%;
}
input {    
    padding: 3px;
    margin: 10px;
}
input[type="submit"]{
    background-color: greenyellow;
    color:azure;
    border-radius: 100px;
}
input[type="submit"]:hover {
    background-color: blue;}
a:link {
    text-decoration: none;
    color: chocolate;
}
h2 {
    border: 4px solid orangered;
    border-radius: 5px;
    margin-top: 50px;
}
p[type="1"]   {
    color:crimson;
}
p[type="2"]   {
    color:green
}
p[type="3"]   {
    color:darkmagenta
}